/dts-v1/;

/ {
    chosen {
        zmk,display-left = &ssd1306;
        zmk,underglow = &led_strip;
    };
};

&i2c0 {
    status = "okay";
    ssd1306: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-remap;
        prechargep = <0x22>;
        com-invdir;
        com-seq;
        vcomh = <0x20>;
    };
};

&spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    mosi-pin = <6>;
    
    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        label = "WS2812";
        
        reg = <0>;
        spi-max-frequency = <4000000>;
        
        chain-length = <29>;
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};
